* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPTMrdium.woff2') format('woff2'),
        url('../fonts/FuturaPTMrdium.woff2') format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: '', sans-serif;
    font-weight: 400;
}


img {
    max-width: 100%;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    border-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;  
}



.hero {
    padding-top: 100px;
    background-image: url("../img/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



